.absence-reasons-details {
  border-radius: 4px;
}

.absence-reasons-details .card-header {
  margin-bottom: 1px;
}

.absence-reasons-details .card-content {
  min-height: 400px;
  max-height: 400px;
  overflow: auto;
}
