
.ol-control button:hover,
.ol-control button:active,
.ol-control button:focus {
  background-color: $primary;
  opacity: 0.7;
}

.ol-control button {
  height: 32px;
  width: 32px;
  background-color: $primary;
}

.ol-scale-line {
  padding: 2px;
  background-color: $primary;
}

.ol-attribution.ol-uncollapsible {
  height: 1.5em;
}

.ol-zoom {
  top: 10px;
  left: 10px;
}
