.is-direction-column {
  display: flex;
  flex-direction: column;
}

.is-direction-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.is-flex-grow-1 {
  flex-grow: 1;
}

.has-content-vcentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.is-fixed-top {
  position: fixed;
  top: 0;
  z-index: 30;
}

.is-absolute {
  position: absolute;
}
