@media print {
  @page {
    size: auto;
    margin: 0mm 5mm 0mm 5mm !important;
  }

  body {
    margin: 0px !important;
  }

  .ol-control {
    display: none;
  }

  .no-print {
    display: none !important;
  }
}
