.print {
  display: none;
}

@media print {
  @page {
    size: auto;
  }

  .app {
    padding-top: 0px;
  }

  .header {
    width: 100%;
    position: unset;
  }

  .ol-control {
    display: none;
  }

  .print {
    display: unset !important;
  }

  .no-print {
    display: none !important;
  }
}
