.square-primary {
  display: inline-block;
  width: 0;
  height: 10px;
  border-right: 10px solid $primary;
}

.square-primary-bis {
  display: inline-block;
  width: 0;
  height: 10px;
  border-right: 10px solid $primary-bis;
}

.square-primary-ter {
  display: inline-block;
  width: 0;
  height: 10px;
  border-right: 10px solid $primary-ter;
}

.square-secondary {
  display: inline-block;
  width: 0;
  height: 10px;
  border-right: 10px solid $secondary;
}

.square-secondary-bis {
  display: inline-block;
  width: 0;
  height: 10px;
  border-right: 10px solid $secondary-bis;
}

.square-tertiary {
  display: inline-block;
  width: 0;
  height: 10px;
  border-right: 10px solid $tertiary;
}

.square-grey {
  display: inline-block;
  width: 0;
  height: 10px;
  border-right: 10px solid $grey;
}
