.square-primary {
  display: inline-block;
  width: 0;
  height: 10px;
  border-right: 10px solid $primary;
  margin-right: 4px;
}

.square-primary-bis {
  display: inline-block;
  width: 0;
  height: 10px;
  border-right: 10px solid $primary-bis;
  margin-right: 4px;
}

.square-primary-ter {
  display: inline-block;
  width: 0;
  height: 10px;
  border-right: 10px solid $primary-ter;
  margin-right: 4px;
}

.square-secondary {
  display: inline-block;
  width: 0;
  height: 10px;
  border-right: 10px solid $secondary;
  margin-right: 4px;
}

.square-secondary-bis {
  display: inline-block;
  width: 0;
  height: 10px;
  border-right: 10px solid $secondary-bis;
  margin-right: 4px;
}

.square-tertiary {
  display: inline-block;
  width: 0;
  height: 10px;
  border-right: 10px solid $tertiary;
  margin-right: 4px;
}

.square-grey {
  display: inline-block;
  width: 0;
  height: 10px;
  border-right: 10px solid $grey;
  margin-right: 4px;
}

.square-danger-darker {
  display: inline-block;
  width: 0;
  height: 10px;
  border-right: 10px solid $danger-darker;
  margin-right: 4px;
}

.square-danger {
  display: inline-block;
  width: 0;
  height: 10px;
  border-right: 10px solid $danger;
  margin-right: 4px;
}

.square-warning {
  display: inline-block;
  width: 0;
  height: 10px;
  border-right: 10px solid $warning;
  margin-right: 4px;
}

.square-success {
  display: inline-block;
  width: 0;
  height: 10px;
  border-right: 10px solid $success;
  margin-right: 4px;
}

.square-success-darker {
  display: inline-block;
  width: 0;
  height: 10px;
  border-right: 10px solid $success-darker;
  margin-right: 4px;
}
