.w40 {
  width: 40px;
}

.w80 {
  width: 80px;
}

.w120 {
  width: 120px;
}

.w150 {
  width: 150px;
}

.w300 {
  width: 300px;
}

.w16cm {
  width: 16cm;
}

.is-full-width {
  width: 100%;
}

.has-width-auto {
  width: auto;
}

.h20 {
  height: 20px;
}

.h80 {
  height: 80px;
}

.h120 {
  height: 120px;
}

.h160 {
  height: 160px;
}

.h400 {
  height: 400px;
}

.h500 {
  height: 500px;
}

.h60vh {
  height: 60vh;
}

.h70vh {
  height: 70vh;
}

.h80vh {
  height: 80vh;
}

.h12cm {
  height: 12cm;
}

.h16cm {
  height: 16cm;
}

.h20cm {
  height: 20cm;
}

.h24cm {
  height: 24cm;
}

.is-full-height {
  height: 100%;
}

.has-height-auto {
  height: auto;
}

@media (max-width: $tablet) {
  .h400-mobile {
    height: 400px;
  }
}
