.w40 {
  width: 40px;
}

.w80 {
  width: 80px;
}

.w120 {
  width: 120px;
}

.w150 {
  width: 150px;
}

.w16cm {
  width: 16cm;
}

.is-full-width {
  width: 100%;
}

.h20 {
  height: 20px;
}

.h80 {
  height: 80px;
}

.h16cm {
  height: 16cm;
}

.is-full-height {
  height: 100%;
}

.has-height-auto {
  height: auto;
}
