$size-1: 32px;
$size-2: 24px;
$size-3: 21px;
$size-4: 18px;
$size-5: 16px;
$size-6: 14px;
$size-7: 12px;

@import "~ol/ol.css";
@import "~bulma/sass/utilities/_all";

$desktop: 1100px + (2 * $gap);

@import "colors";
@import "link";
@import "input";
@import "tabs";
@import "breadcrumb";
@import "~bulma";
@import "~buefy/src/scss/buefy";

html {
  overflow: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: $grey-darker;
  font-size: $size-6;
}

@import url("./fonts/Montserrat.css");

@import "ol.overrides";
@import "map";
@import "navbar";
@import "legend";
@import "background";
@import "opacity";
@import "shadow";
@import "pointer";
@import "popup";
@import "cards";
@import "indicator-card";
@import "attendance-tabs";
@import "shapes";
@import "positionning";
@import "sizing";
@import "spacing";
@import "animations";
@import "obfuscator";
@import "overflow";
@import "loader";
@import "autocomplete";
@import "dashboard";
@import "print";

